/* ======================================================= */
/* 

            Comandos para dirigirse a secciones 

  Modulo administrador  ----> Ctrl + F ---->    *Seccion "Css general"
                                                *Seccion "Header"
                                                *Seccion "Sidebar / Menu lateral"  
                                                *Seccion "Loader"
                                                *Seccion "Emergente creacion torneo"
                                              
*/
/* ======================================================= */





/* ======================================================= */
/* Css general */
/* ======================================================= */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* ======================================================= */
/* Header */
/* ======================================================= */

header{
    height: 70px;
    width: 100%;
    background: #063146;
    position: relative;
    z-index: 9;
}

header a{
    padding-right: 17px;
    top: 15px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 20px;
    text-decoration: none;

}

#icono-celu{
display: none;
}

#volver-compu{
    display: flex;
   
}



header  p:hover{
    padding-right: 50px;
}

header a i{
    margin-left: 7px;
}

header p {
    border: 1px solid black;
    background: #042331;
    padding: 8px;
    border-radius: 25px 0 0 25px ;
    padding-left: 20px;
    transition: 0.6s;
}




/* ======================================================= */
/* Sidebar / Menu lateral */
/* ======================================================= */

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background: #042331;
}

.sidebar h1{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.boton-sidebar{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
    background: #042331;
    text-align: left;   
    transition: 0.6s;

}

.boton-sidebar i{
    margin-right: 10px;
}

.boton-sidebar:hover{
    padding-left: 60px;
}



.contenido{
    margin-left: 250px;

}

.div-wrapper{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    grid-template-columns: 50% 50%;
}

.tabla1{
    width: auto;
    height: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Bree Serif', serif;
    border-spacing: 0;
    border-radius: 7px;
    margin: 15px;
}

.tabla2{
    width: auto;
    height: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Bree Serif', serif;
    border-spacing: 0;
    border-radius: 7px;
    margin: 15px;
}

.contenedor-tabla1, .contenedor-tabla2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.tabla1 table{
    border-spacing: 0;
}

.tabla2 table{
    border-spacing: 0;
}
#tabla1 h2, #tabla2 h2{
    text-align: center;
    margin-bottom: 15px;
}

#col1{
    width: 100px;
    height: 30px;
    background: rgba(128, 128, 128, 0.322);
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    padding: 5px;
}

#tabla1 td,#tabla2 td{
    height: 50px;
    padding: 4px;
    display: table-cell;
    justify-content: center;
    align-items: center;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
}



/* ======================================================= */
/* Loader */
/* ======================================================= */

.loader-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:#073750;
    z-index: 99999999999999999999999999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .loader img{
    animation: fichaanimation 2.5s alternate infinite ;
    width: 200px;
  }
  
  
  
  @keyframes fichaanimation{
    0%{
      transform: scale(1);
    }
    30%{
      transform: scale(1.3) rotate(-20deg);
     
    }
  
    50%{
      transform: scale(1);
    }
  
    70%{
      transform: scale(1.3) rotate(20deg);
    }
  
    100%{
      transform: scale(1);
    }
  }
  
  
/* ======================================================= */
/* Emergente creacion torneo */
/* ======================================================= */
  
  
.contenedor-torneo-emergente{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.185);

}

.contenedor-torneo{
    background: #0D5277;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    max-width: 500px;
    
}

.contenedor-torneo h3{
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 12px;
    width: 125px;
    text-align: center;
}

.contenedor-torneo h2{
    font-size: 35px;
}

.contenedor-torneo input{
    background: rgba(0, 0, 0, 0.192);
    padding: 4px;
    height: 25px;
    border: 1px solid #0b425f;
    color: white;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.185);
    margin: 4px 0;
}

.contenedor-torneo input::placeholder{
    color: rgba(255, 255, 255, 0.301);
}

.contenedor-columnas-creaciontorneo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.columna1-creaciontorneo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.columna2-creaciontorneo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-botones-creaciontorneo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-botones-creaciontorneo button{
    margin: 10px;
    padding: 15px;
    background: #0b425f;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.185);
    color: white;
    border: none;
    border-radius: 10px;
}

.contenedor-tabla-NoAprobados{
    width: 100%;
}

#tablaNoAprobados{
    width: 100%;
}


.contenedor-mensaje-torneo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bree Serif', serif;
}

.contenedor-mensaje-torneo h2{
    color: black;
    font-size: 35px;
}

.contenedor-mensaje-torneo button{
    padding: 8px;
    background: #073750;
    border: 1px solid rgba(85, 84, 84, 0.411);
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.199);
    color: white;
    margin-top: 10px;
}

.contenedor-mensaje-torneo p{
    font-size: 17px;
}

#desplegar{
    display: none;
    position: relative;
    z-index: 8;
}



@media screen and (max-width: 1390px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
     }
    .sidebar{
        display: none;
    }

    #hamburguesini{
        margin-left: 17px;
        font-size: 35px;
        background: none;
        cursor: pointer;
        color: white;
        border: none;
    }

    #desplegar{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        transform: translateY(-120%);
        transition: ease-in 0.6s;
    }
    #desplegar li{
        text-align: center;
        padding: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .contenido{
        margin: 0;
        margin-top: -300px;
    
    }
    
    .div-wrapper{
        height: auto;
        grid-template-columns: 1fr;
    }

    #volver-compu{
        display: none;
    }

    #icono-celu{
        display: flex;
        font-size: 35px;
    }

}

#buttonEliminar button{
    width: 20px;
    height: 20px;
}

