@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');


*/ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../IMG/Chess.png') no-repeat center center fixed;
  background-size: cover;

  margin: 0;

}

/* ======================================================= */
/* Todo lo que tenga que ver con el header */
/* ======================================================= */

.header {
  overflow: hidden;
  background: #06314600;
  padding: 5px 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.header img {
  width: 4%;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-top: 5px;
  transition: 1s;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a.active {

  background: white;
  padding: 8px;
  border-radius: 25px 25px 25px 25px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.6s;
  color: black;
}

.header-right {
  float: right;
}

/* ======================================================= */
/* Contenedor inicio */
/* ======================================================= */

.contenedor-inicio {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.contenedor-botones-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-botones-inicio a {
  margin: 0 4px;
  display: flex;
  text-decoration: none;
  width: 150px;

  justify-content: center;
  align-items: center;
  height: 35px;
  font-size: 19px;
  padding: 5px;
}

.contenedor-botones-inicio a i {
  margin: 0 6px;
}

.contenedor-inicio img {
  width: 13%;
  margin: 0;
  margin-top: 10px;
}

.contenedor-inicio h1,
h2 {
  margin: 0;
  color: white;
  margin-bottom: 15px;
  font-family: 'Bree Serif', serif;
  font-weight: 500;
}

.contenedor-inicio h1 {
  font-size: 65px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.contenedor-inicio h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.imagen-inicio {
  width: 100%;
}

.boton-podcast, .boton-salas{
  padding: 15px;
  background: white;
  color: black;
  border-radius: 25px;
  text-decoration: none;
  font-size: 20px;
}

.div-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 70px;
}

.boton-jugar {
  border-radius: 30px 0 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: white;
  color: black;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 150px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.boton-estadisticas {
  border-radius: 0 30px 30px 0;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: white;
  color: black;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.boton-jugar:hover {
  width: 170px;

}

.boton-estadisticas:hover {

  padding-left: 14px;
  padding-right: 14px;
}



.contenedor-opciones-juego{
  position: relative;
  display: inline-block;
}

.contenedor-opciones-juego:hover .opciones-juego-menu{
  display: block;
}


.opciones-juego-menu{
position: absolute;
background:#0a4e72;;
top: 54px;
width: 100%;
border-radius: 20px;
display: none;
}

.opciones-juego-menu a{
font-size: 20px;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid rgba(128, 128, 128, 0.267);
border-radius: 25px;
color: rgba(255, 255, 255, 0.699);
cursor: pointer;
}

.a3:hover{
  background: #0c5e8a;
}

.opciones-entrenamiento-menu{
  position: absolute;
background:#0a4e72;;
top: 38px;
width: 100%;
border-radius: 20px;
display: none;
}

.opciones-entrenamiento-menu a{
font-size: 20px;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid rgba(128, 128, 128, 0.267);
border-radius: 25px;
color: rgba(255, 255, 255, 0.699);
cursor: pointer;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.a4:hover{
  background: #0c5e8a;
}

.contenedor-entrenamiento-menu:hover .opciones-entrenamiento-menu{
display: block;
}

.contenedor-entrenamiento-menu{
  position: relative;
  display: inline-block;

}




/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */


/* ======================================================= */
/* Tablas medallas y jugadores */
/* ======================================================= */

.div-wrapper2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background: #073750;
  padding: 10px 0;
  position: relative;
  margin-top: -10px;
  
}

.contenedor-tabla {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.contenedor-tabla h1 {
  color: white;
  font-family: 'Bree Serif', serif;
  margin-bottom: 30px;
  font-weight: 500;
}

.circulo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: chartreuse;
  margin: 5px;
}


.tabla-jugadores {
  background: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  font-family: 'Bree Serif', serif;
  border-spacing: 0;
  border-radius: 7px;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.712);
}

.tabla-jugadores th {
  background: #8a8989a1;
  padding-bottom: 7px;
  padding-top: 7px;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.tabla-jugadores th:nth-child(1) {
  border-radius: 7px 0 0 0;
}

.tabla-jugadores th:nth-child(2) {
  border-radius: 0 7PX 0 0;
}

.tabla-jugadores td {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

#col-imagen {
  width: 100px;
}

#col-jugadores {
  width: 400px;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */

/* ======================================================= */
/* Tablero y podcast */
/* ======================================================= */

.div-wrapper5 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-wrapper5 img {
  width: 50%;
}

.contenedor-salas {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contenedor-entrenamiento{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contenedor-entrenamiento img{
  width: 50%;
}
.contenedor-salas img{
  width: 50%;
}

.contenedor-podcast img {
  width: 50%;
}


.contenedor-salas a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nueva-sala {
  border-radius: 30px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: #9E692F;
  color: black;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
}

.unirse-sala {
  border-radius: 30px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: #e9da97;
  color: black;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.clase-ajedrez {
  border-radius: 30px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: #9E692F;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  margin-top: 10px;
  text-decoration: none;
  width: 230px;
}

.contenedor-podcast {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */

/* ======================================================= */
/* Contenedor noticias */
/* ======================================================= */

.div-wrapper3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #073750;
}

.noticias {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif', serif;
}

.noticias img {
  width: 40%;
}

.noticias p {
  color: white;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */


/* ======================================================= */
/* Icono de usuario cuando se loguea */
/* ======================================================= */

#foto {
  margin: 0 5px;
  width: 45px
  
}

#foto2 {
  width: 100%;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */


/* ======================================================= */
/* Menu edicion usuario */
/* ======================================================= */


.usuario{
  position: relative;
  display: inline-block;
  z-index: 999999;
}

.usuario #elcosodellogin  {
  position: fixed;
  top: 0px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.usuario i {
  margin-right: 10px;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */


/* ======================================================= */
/* Footer */
/* ======================================================= */

footer {
  background: #173248;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;
}

.logo img{
  width: 150px;
  margin-right: 30px;
}

.logo{
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  display: flex;

}

.sobre-nosotros{
  text-align: left;
}

footer .menu{
  display: flex;
  flex-direction: column;
}

footer h1{
  color: white;
}

footer p{
  color: white;
}



.menu ul{
  margin: 0;
  padding:0;
}

.menu a{
  text-decoration: underline;
  color: white;
  font-size: 17px;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */

/* ======================================================= */
/* Loader */
/* ======================================================= */

.loader-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background:#073750;
  z-index: 99999999999999999999999999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.loader img{
  animation: fichaanimation 2.5s alternate infinite ;
 
}



@keyframes fichaanimation{
  0%{
    transform: scale(1);
  }
  30%{
    transform: scale(1.3) rotate(-20deg);
   
  }

  50%{
    transform: scale(1);
  }

  70%{
    transform: scale(1.3) rotate(20deg);
  }

  100%{
    transform: scale(1);
  }
}

/* ======================================================= */
/* Fin Loader */
/* ======================================================= */

/* ======================================================= */
/* Responsive */
/* ======================================================= */

.body-responsive{
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedor-general-responsive{
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contenedor-menu-responsive{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.body-responsive img{
  width: 45%;
}

.body-responsive h1{
  font-size: 40px;
  margin: 0;
  margin-top: 5px;
  color: white;
  font-family: 'Bree Serif', serif;
}

.a5 {
  background: white;
width: 300px;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-bottom: 4px;
  margin-top: 4px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-family: 'Bree Serif', serif;
  border-radius: 10px;
}

.a5 i{
  margin-right: 15px;
}




@media screen and (Max-width:1024px){
  .body-responsive{
    display: flex;
  }

  .usuario{
    display: none;
  }

  .header{
    display: none;
  }

  .contenedor-inicio{
    display: none;
  }

  #svg{
    display: none;
  }

  .div-wrapper2{
    display: none;
  }

  .Tabla{
    display: none;
  }

  .div-wrapper5{
    display: none;
  }

  .div-wrapper3{
    display: none;
  }

  footer{
    display: none;
  }

  #path{
    display: none;
  }

}



























/* ======================================================= */
/* Cuando toque el boton jugar va a aparecer esto */
/* ======================================================= */


.div-wrapper-juego {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 9999;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jugador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo-tablero1,
.circulo-tablero2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circulo-tablero {
  width: 160px;
  height: 160px;
}

.circulo-tablero img{
  width: 80%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.548);
}

.jugador p {
  font-size: 25px;
  margin-top: 15px;
  color: white;
}

.tabla-movimientos {
  width: 100%;
  height: 250px;
}

.tabla-movimientos table {
  width: 100%;
  text-align: center;
}

.contenedor-div-wrapper-juego {
  width: 60%;
  background: #073750;
  padding: 20px;
  border-radius: 5em;
  display: grid;
  grid-template-columns: 65% 1fr;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.712);
}

.usuario-menu {
  width: 170px;
  background: #062c41;
  position: fixed;
  top: 30px;
  left: 20px;
  text-align: center;
  transition: .4s;
  display: none;
}

.usuario-menu a{
  color: white;
  text-decoration: none;
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  letter-spacing: 1px;
}

.a2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.356);
  display: flex;
  width: 100%;
  padding: 12px 0 !important;
  justify-content: center;
  margin-top: 0 !important;
}

.a2:hover {
  background: #083750;
}

.usuario:hover .usuario-menu {
  display: block;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */

/* Edicion jugador */

/* ======================================================= */
/* Seccion responsive */
/* ======================================================= */

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

  
}

/* ======================================================= */
/* Por arreglar, cosas que traigo de PHP */
/* ======================================================= */

.circulo2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: chartreuse;
  margin: 5px;
}

/* ======================================================= */
/* CSS Tablero */
/* ======================================================= */


.divCas {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

#ficha {
  width: 30px;
}

.casilla1{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 4px solid transparent;
}
.casilla2{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 4px solid transparent;
}
.casilla3{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 4px solid transparent;
}
.casilla4{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 4px solid transparent;
}
.casilla5{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 4px solid transparent;
}
.casilla6{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 4px solid transparent;
}
.casilla7{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 4px solid transparent;
}
.casilla8{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 4px solid transparent;
}

p {
  margin: 0px;
}

#tablero td {
  height: 59px;
  width: 60px;
  padding: 0;
}

#esq {
  height: 59px;
  width: 59px;
}

#tablero {
  border-spacing: 0px;
}

#tablero td {
  height: 60px;
  width: 60px;
  text-align: center;
}

#tabla2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#inf {
  border-top: 1px solid black;
}

#sup {
  border-bottom: 1px solid black;
}

#izq {
  border-right: 1px solid black;
}

#der {
  border-left: 1px solid black;
}