@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');


*/ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../IMG/Chess.png') no-repeat center center fixed;
  background-size: cover;

  margin: 0;

}

/* ======================================================= */
/* Todo lo que tenga que ver con el header */
/* ======================================================= */

.header {
  overflow: hidden;
  background: #06314600;
  padding: 5px 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.header img {
  width: 4%;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-top: 5px;
  transition: 1s;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a.active {

  background: white;
  padding: 8px;
  border-radius: 25px 25px 25px 25px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.6s;
  color: black;
}

.header-right {
  float: right;
}

/* ======================================================= */
/* Contenedor inicio */
/* ======================================================= */

.contenedor-inicio {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.contenedor-botones-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-botones-inicio a {
  margin: 0 4px;
  display: flex;
  text-decoration: none;
  width: 150px;

  justify-content: center;
  align-items: center;
  height: 35px;
  font-size: 19px;
  padding: 5px;
}

.contenedor-botones-inicio a i {
  margin: 0 6px;
}

.contenedor-inicio img {
  width: 13%;
  margin: 0;
  margin-top: 10px;
}

.contenedor-inicio h1,
h2 {
  margin: 0;
  color: white;
  margin-bottom: 15px;
  font-family: 'Bree Serif', serif;
  font-weight: 500;
}

.contenedor-inicio h1 {
  font-size: 65px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.contenedor-inicio h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.imagen-inicio {
  width: 100%;
}

.boton-podcast{
  padding: 15px;
  background: white;
  color: black;
  border-radius: 25px;
  text-decoration: none;
  font-size: 20px;
}

.div-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 70px;
}

.boton-jugar {
  border-radius: 30px 0 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: white;
  color: black;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 150px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.boton-estadisticas {
  border-radius: 0 30px 30px 0;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: white;
  color: black;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.boton-jugar:hover {
  width: 170px;

}

.boton-estadisticas:hover {

  padding-left: 14px;
  padding-right: 14px;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */


/* ======================================================= */
/* Tablas medallas y jugadores */
/* ======================================================= */

.div-wrapper2 {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  background: #073750;
  padding: 10px 0;
  position: relative;
  margin-top: -10px;
}

.contenedor-tabla {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.contenedor-tabla h1 {
  color: white;
  font-family: 'Bree Serif', serif;
  margin-bottom: 30px;
  font-weight: 500;
}

.circulo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: chartreuse;
  margin: 5px;
}


.tabla-jugadores {
  background: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  font-family: 'Bree Serif', serif;
  border-spacing: 0;
  border-radius: 7px;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.712);
}

.tabla-jugadores th {
  background: #8a8989a1;
  padding-bottom: 7px;
  padding-top: 7px;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.tabla-jugadores th:nth-child(1) {
  border-radius: 7px 0 0 0;
}

.tabla-jugadores th:nth-child(2) {
  border-radius: 0 7PX 0 0;
}

.tabla-jugadores td {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

#col-imagen {
  width: 100px;
}

#col-jugadores {
  width: 400px;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */

/* ======================================================= */
/* Tablero y podcast */
/* ======================================================= */

.div-wrapper5 {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.div-wrapper5 img {
  width: 50%;
}

.contenedor-salas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-salas a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones-podcast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
}

.botones-podcast a {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  width: 180px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  height: 35px;
  font-size: 19px;
  text-align: center;
  padding: 5px;
}

.botones-podcast a i {
  margin: 0 5px;
}

.nueva-sala {
  border-radius: 30px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: #9E692F;
  color: black;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
}

.unirse-sala {
  border-radius: 30px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: #e9da97;
  color: black;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.clase-ajedrez {
  border-radius: 30px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: #9E692F;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  margin-top: 10px;
  text-decoration: none;
  width: 230px;
}

.contenedor-podcast {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedor-podcast img {
  width: 35%;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */

/* ======================================================= */
/* Contenedor noticias */
/* ======================================================= */

.div-wrapper3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #073750;
}

.noticias {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif', serif;
}

.noticias img {
  width: 40%;
}

.noticias p {
  color: white;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */


/* ======================================================= */
/* Icono de usuario cuando se loguea */
/* ======================================================= */

#foto {
  margin: 0 5px;
  width: 45px
  
}

#foto2 {
  width: 100%;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */


/* ======================================================= */
/* Menu edicion usuario */
/* ======================================================= */


.usuario{
  position: relative;
  display: inline-block;
  z-index: 999999;
}

.usuario #elcosodellogin  {
  position: fixed;
  top: 0px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.usuario i {
  margin-right: 10px;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */


/* ======================================================= */
/* Footer */
/* ======================================================= */

footer {
  background: white;
}

















































/* ======================================================= */
/* Cuando toque el boton jugar va a aparecer esto */
/* ======================================================= */


.div-wrapper-juego {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 9999;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jugador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo-tablero1,
.circulo-tablero2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circulo-tablero {
  width: 160px;
  height: 160px;
}

.circulo-tablero img{
  width: 80%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.548);
}

.jugador p {
  font-size: 25px;
  margin-top: 15px;
  color: white;
}

.tabla-movimientos {
  width: 100%;
  height: 250px;
}

.tabla-movimientos table {
  width: 100%;
  text-align: center;
}

.contenedor-div-wrapper-juego {
  width: 60%;
  background: #073750;
  padding: 20px;
  border-radius: 5em;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.712);
}

.usuario-menu {
  width: 170px;
  background: #062c41;
  position: fixed;
  top: 70px;
  left: 20px;
  text-align: center;
  transition: .4s;
  display: none;
}

.usuario-menu a{
  color: white;
  text-decoration: none;
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  letter-spacing: 1px;
}

.a2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.356);
  display: flex;
  width: 100%;
  padding: 12px 0 !important;
  justify-content: center;
  margin-top: 0 !important;
}

.a2:hover {
  background: #083750;
}

.usuario:hover .usuario-menu {
  display: block;
}

/* ======================================================= */
/* Fin de seccion */
/* ======================================================= */

/* Edicion jugador */

/* ======================================================= */
/* Seccion responsive */
/* ======================================================= */

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

  
}

/* ======================================================= */
/* Por arreglar, cosas que traigo de PHP */
/* ======================================================= */

.circulo2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: chartreuse;
  margin: 5px;
}