@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');


/* Style the header with a grey background and some padding */
body {
 background: url('../IMG/Chess.png') no-repeat center center fixed;
  background-size: cover; 

  margin: 0;
  
}

*/ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  overflow: hidden;
  background: #06314600;
  padding: 5px 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; 
}

.header img {
  width: 4%;

}

/* Style the header links */
.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-top: 5px;
  transition: 1s;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  font-size: 25px;
}







/* Style the active/current link*/
.header a.active {
 
    background: white;
    padding: 8px;
    border-radius: 25px 25px 25px 25px ;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.6s;
    color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.div-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 70px;
}

.contenedor-inicio {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.contenedor-inicio h1,
h2 {
  margin: 0;
  color: white;
  margin-bottom: 15px;
  font-family: 'Bree Serif', serif;
  font-weight: 500;
}

.contenedor-inicio h1 {
  font-size: 65px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.contenedor-inicio h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.imagen-inicio{
  width: 100%;
}

.contenedor-ajedrez {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 400px;
}







.contenedor-ajedrez p {
  font-size: 40px;
  color: white;
  font-family: 'Bree Serif', serif;

}

.contenedor-ajedrez img {
  width: 40%;
  margin-bottom: -20px;
  
}



.boton-jugar:hover{
  padding-left: 25px;

}

.boton-estadisticas:hover{
  padding-right: 28px;
}


.contenedor-botones {
  display: flex;
}

.contenedor-fondo {
  background: #042331;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding: 20px;
  border-right: 4px solid #d8d8d821;
  border-bottom: 4px solid #d8d8d821;
}

.tabla-jugadores {
  background: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  font-family: 'Bree Serif', serif;
  border-spacing: 0;
  border-radius: 7px;
}

.tabla-jugadores th {
  background: #8a8989a1;
  padding-bottom: 7px;
  padding-top: 7px;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.tabla-jugadores th:nth-child(1) {
  border-radius: 7px 0 0 0;
}

.tabla-jugadores th:nth-child(2) {
  border-radius: 0 7PX 0 0;
}

.tabla-jugadores td {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.circulo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: chartreuse;
  margin: 5px;
}

#col-imagen {
  width: 100px;
}

#col-jugadores {
  width: 400px;
}

.div-wrapper2 {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  background: #183248;

}

.contenedor-tabla {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contenedor-tabla h1 {
  color: white;
  font-family: 'Bree Serif', serif;
  margin-bottom: 70px;
  font-weight:500;
}

.circulo2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: chartreuse;
  margin: 5px;
}

.perfil {
  display: flex;
  width: 500px;
}

.contenedor-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  font-family: 'Bree Serif', serif;
}

.contenedor-perfil p{
  color: white;
  margin: 30px;
}

.trofeos {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-wrapper3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #063146;
}

.noticias {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.noticias img {
  width: 40%;
}

.contenedor-botones-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-botones-inicio a {
  margin: 0 4px;
  display: flex;
  text-decoration: none;
  width: 150px;
  
  justify-content: center;
  align-items: center;
  height: 35px;
  font-size: 19px;
  padding: 5px;

}

.boton-jugar {
  border-radius: 30px 0 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: white;
  color: black;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
}



.boton-estadisticas {
  border-radius: 0 30px 30px 0;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: white;
  color: black;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
}



.contenedor-botones-inicio a i {
  margin: 0 6px;

}

.contenedor-inicio img {
  width: 13%;
  margin: 0;
  margin-top: 10px;
}

.usuario a{
  position: fixed;
  top: 0px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
      color: white;
  font-size: 20px;
  text-decoration: none;

}

.usuario i{
  margin-right: 10px;
}

.div-wrapper5{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.div-wrapper5 img{
  width: 50%;
}

.contenedor-podcast {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedor-podcast img{
  width: 35%;
}
.botones-podcast{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  
}

.botones-podcast a{
  display: flex;
  justify-content: center;
  align-items: center;
  
  display: flex;
  text-decoration: none;
  width: 180px;
  margin-bottom: 20px;
  
  
  justify-content: center;
  align-items: center;
  height: 35px;
  font-size: 19px;
  text-align: center;
  padding: 10px;
  

  
}

.botones-podcast a i{
  margin: 0 5px;
}

.boton-noticia{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.contenedor-salas{
  display: flex;
  justify-content: center;
  align-items: center;

}

.contenedor-salas a{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.nueva-sala{
  border-radius: 30px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: #9E692F;
  color: black;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
  color: white;
}




.unirse-sala{
  border-radius: 30px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: #e9da97;
  color: black;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
  
}

.boton-noticia{
  border-radius: 30px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: #0b425e;
  color: black;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
  color: white;
  margin-top: 10px;
  text-decoration: none;
  width: 320px;
}

.boton-noticia p{

}

.boton-noticia i{
  margin-right: 10px;
}

.clase-ajedrez{
  border-radius: 30px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  background: #9E692F;
  transition: 0.7s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
  color: white;
  margin-top: 10px;
  text-decoration: none;
  width: 230px;
}