@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hammersmith+One&display=swap');

body {
  margin: 0;
  padding: 0;
}


/* Login */

.login {
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgba(0, 0, 0, 0.178);
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999999;
}

.err{
  color: red;
  font-family: 'Bree Serif', serif;
  display: none;
}

.contenedor-login {
  display: grid;
  grid-template-columns: 65% 1fr;
  max-width: 750px;
  width: 100%;
  height: 350px;
  position: relative;
  background: #073750;
  border-radius: 20px;
  margin: 20px;
}

.contenedor-imagenlogin {
  max-width: 250px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.contenedor-imagenlogin img {
  width: 80%;
}

.contenedor-textologin {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border-radius: 20px;
  height: 100%;
  color: white;
}

.cerrarlogin {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.contenedor-contenedor-textologin {
  background: #0a4e72;
  border-radius: 20px 0 0 20px;
}

.contenedor-textologin h2 {
  font-size: 25px;
  color: white;
  font-family: 'Bree Serif', serif;
}

.submit {
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 10px 0 rgba(39, 39, 39, 0.493);
  background: #0a4361;
  color: white;
  transition: .5s;
}

.submit:hover {
  background: #0c5379;
  box-shadow: 0px 0px 15px 0 rgba(126, 126, 126, 0.493);
}

.input-login {
  background: white;
  border: none;
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 5px;
  margin-top: 5px;
  outline: none;
}

@media screen and (max-width: 600px) {
 .contenedor-contenedor-imagenlogin{
   display: none;
 }
 .contenedor-login{
   grid-template-columns: 1fr;
   border-radius: 20px;
 }

 .contenedor-contenedor-textologin{
   border-radius: 20px;
 }
}


/* Register */


#form-register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0a4e72;
  padding: 20px;
  border-radius: 20px;
  width: 650px;
  height: 500px;
}

#form-register input{
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 250px;
  border-radius: 20px;
  border: none;
}

#form-register select{
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 250px;
  border-radius: 20px;
  border: none;

}

#form-register h1{
  color: white;
  font-family: 'Bree Serif', serif;
  font-size: 35px;
  font-weight: 400;
}
.contenedor-register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../IMG/Chess.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.botonRegister{
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 10px 0 rgba(39, 39, 39, 0.493);
  background: #0a4361;
  color: white;
  transition: .5s;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.botonRegister:hover{
  background: #0c5379;
  box-shadow: 0px 0px 15px 0 rgba(126, 126, 126, 0.493);
}

.div-wrapper-register{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  background: #0f608b;
  border-radius: 20px;
}

.contenedor-register2 img{
  width: 30%;
}

.contenedor-register2{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 10px;

 
  border-radius: 0 20px 20px 0;
}

.contenedor-register1{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 10px;
  
  
  border-radius: 20px 0 0 20px;
}

#value-register{
  border-radius: 0 20px 0 0;
}

@media screen and (max-width: 700px){
  .div-wrapper-register{
    grid-template-columns: 1fr;
  }

  .contenedor-register1{
    border-radius: 20px 20px 0 0;
    margin: 0;
    height: auto;
    padding: 0 10px;
  }

  .contenedor-register2{
    border-radius: 0 0 20px 20px;
    margin: 0;
    height: auto;
    padding: 0 10px;
  }

  #form-register{
    height: 100vh;
    width: 100vw;
  }
}

/* Restablecer Contra */

.contenedor-restablecer{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  background: #0a4e72;
  padding: 20px;
  width: 400px;
  height: 350px;
  border-radius: 20px;
}


.contenedor-gral-restablecer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
}

.contenedor-restablecer input{
  padding: 15px;
  border-radius: 20px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #ffffff;
  width: 300px;
}

#Btn-restablecer{
  background: #0a4361;
  border: none;
  border-radius: 15px;
  margin-top: 15px;
  color: white;
  padding: 10px;
  width: 250px;
  box-shadow: 0px 0px 10px 0 rgba(39, 39, 39, 0.493);
  transition: .5s;
}

#Btn-restablecer:hover{
  background: #0c5379;
  box-shadow: 0px 0px 15px 0 rgba(126, 126, 126, 0.493);
}

.contenedor-restablecer h1{
  font-size: 30px;
  color: white;
  font-family: 'Bree Serif', serif;
}

.contenedor-restablecer-fondo{
  background: url('../IMG/Chess.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

#error{
  color: red;
  width: 130px;
  margin-left: -130px;
  display: none;
}