@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hammersmith+One&display=swap');

body {
  margin: 0;
  padding: 0;
}

.login {
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgba(0, 0, 0, 0.178);
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999999;
}


.contenedor-login {
  display: grid;
  grid-template-columns: 65% 1fr;
  width: 750px;
  height: 350px;
  position: relative;
  background: #073750;
  border-radius: 20px;
}

.contenedor-imagenlogin {
  max-width: 250px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.contenedor-imagenlogin img {
  width: 80%;
}

.contenedor-textologin {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border-radius: 20px;
  height: 100%;
}

.cerrarlogin {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.contenedor-contenedor-textologin {
  background: #0a4e72;
  border-radius: 20px 0 0 20px;
}

.contenedor-textologin h2 {
  font-size: 25px;
  color: white;
  font-family: 'Bree Serif', serif;
}

.submit {
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 10px 0 rgba(39, 39, 39, 0.493);
  background: #0a4361;
  color: white;
  transition: .5s;
}

.submit:hover {
  background: #0c5379;
  box-shadow: 0px 0px 15px 0 rgba(126, 126, 126, 0.493);
}

.input-login {
  background: white;
  border: none;
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* NO FUNCIONA ESTE MEDIA QUERY HAY QUE ARREGLARLO */
@media screen and (max-width: 750px) {

  .contenedor-login {
    grid-template-columns: 1fr;
    grid-template-rows: 30% 1fr;
    width: 80%;
    height: 80%;
  }

  .contenedor-contenedor-textologin {
    grid-row: 2;
  }

  .contenedor-imagenlogin {
    width: 100%;
    max-width: none;
  }

  .contenedor-imagenlogin img {
    width: 50%;
  }

  .contenedor-textologin {
    width: 100%;
    max-width: none;
    justify-content: flex-start;
    margin-top: 50px;
  }

  .contenedor-textologin h2 {
    font-size: 100px;
  }

  .box {
    width: 100%;
    text-align: center;
  }

  .input-login {
    width: 50%;
    height: 70px;
    font-size: 40px;
    margin-bottom: 18px;
  }

  .submit {
    width: 40%;
    height: 70px;
    font-size: 40px;
  }

}

/* ESTE SI FUNCIONA NO LO TOQUESSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media screen and (max-width: 1024px) {
  .contenedor-login {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 1fr;
    width: 80%;
    height: 80%;
  }

  .contenedor-contenedor-textologin {
    grid-row: 2;
  }

  .contenedor-imagenlogin {
    width: 100%;
    max-width: none;
  }

  .contenedor-imagenlogin img {
    height: 80%;
    width: auto;
  }

  .contenedor-textologin {
    width: 100%;
    max-width: none;
    justify-content: flex-start;
    margin-top: 50px;
  }

  .contenedor-textologin h2 {
    font-size: 30px;
  }

  .box {
    width: 100%;
    text-align: center;
  }

  .input-login {
    width: 50%;
    height: 70px;
    font-size: 15px;
    margin-bottom: 18px;
  }

  .submit {
    width: 40%;
    height: 70px;
    font-size: 15px;
  }
}