@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hammersmith+One&display=swap');

body {
  margin: 0;
  padding: 0;
}


/* Login */

.login {
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgba(0, 0, 0, 0.178);
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999999;
}

.err{
  color: red;
  font-family: 'Bree Serif', serif;
  display: none;
}

.contenedor-login {
  display: grid;
  grid-template-columns: 65% 1fr;
  width: 750px;
  height: 350px;
  position: relative;
  background: #073750;
  border-radius: 20px;
}

.contenedor-imagenlogin {
  max-width: 250px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.contenedor-imagenlogin img {
  width: 80%;
}

.contenedor-textologin {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border-radius: 20px;
  height: 100%;
}

.cerrarlogin {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.contenedor-contenedor-textologin {
  background: #0a4e72;
  border-radius: 20px 0 0 20px;
}

.contenedor-textologin h2 {
  font-size: 25px;
  color: white;
  font-family: 'Bree Serif', serif;
}

.submit {
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 10px 0 rgba(39, 39, 39, 0.493);
  background: #0a4361;
  color: white;
  transition: .5s;
}

.submit:hover {
  background: #0c5379;
  box-shadow: 0px 0px 15px 0 rgba(126, 126, 126, 0.493);
}

.input-login {
  background: white;
  border: none;
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 5px;
  margin-top: 5px;
  outline: none;
}

@media screen and (max-width: 675px) {
  .contenedor-login {
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
  }

  .contenedor-contenedor-textologin {
    grid-row: 2;
    width: 100%;
    height: 50%;
  }

  .contenedor-imagenlogin {
    width: 100%;
    max-width: none;
    display: none;
  }

  .contenedor-imagenlogin img {
    height: 80%;
    width: auto;
  }

  .contenedor-textologin {
    width: 100%;
    max-width: none;
    justify-content: flex-start;
    margin-top: 50px;
    border-radius: 0 0 20px 20px ;
   
  }

  .contenedor-textologin h2 {
    font-size: 30px;
  }

  .box {
    width: 100%;
    text-align: center;
  }

  .input-login {
    width: 70%;
    height: 30px !important;
    font-size: 15px;
    margin-bottom: 18px;
    outline: none;
  }

  .submit {
    width: 40%;
    height: 40px !important;
    font-size: 15px;
  }
}


/* ESTE SI FUNCIONA NO LO TOQUESSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media screen and (max-width: 1024px) {
  .contenedor-login {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 1fr;
    width: 80%;
    height: 80%;
  }

  .contenedor-contenedor-textologin {
    grid-row: 2;
    border-radius: 0 0 20px 20px ;
  }

  .contenedor-imagenlogin {
    width: 100%;
    max-width: none;
  }

  .contenedor-imagenlogin img {
    height: 80%;
    width: auto;
  }

  .contenedor-textologin {
    width: 100%;
    max-width: none;
    justify-content: flex-start;
    margin-top: 50px;
    border-radius: 0 0 20px 20px;
  }

  .contenedor-textologin h2 {
    font-size: 30px;
  }

  .box {
    width: 100%;
    text-align: center;
  }

  .input-login {
    width: 50%;
    height: 70px;
    font-size: 15px;
    margin-bottom: 18px;
    outline: none;
  }

  .submit {
    width: 40%;
    height: 70px;
    font-size: 15px;
  }
}

/* Register */


#form-register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0a4e72;
  padding: 20px;
  border-radius: 20px;
  width: 650px;
  height: 500px;
}

#form-register input{
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 250px;
  border-radius: 20px;
  border: none;
}

#form-register select{
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 250px;
  border-radius: 20px;
  border: none;

}

#form-register h1{
  color: white;
  font-family: 'Bree Serif', serif;
  font-size: 35px;
  font-weight: 400;
}
.contenedor-register{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.botonRegister{
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 10px 0 rgba(39, 39, 39, 0.493);
  background: #0a4361;
  color: white;
  transition: .5s;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.botonRegister:hover{
  background: #0c5379;
  box-shadow: 0px 0px 15px 0 rgba(126, 126, 126, 0.493);
}

.div-wrapper-register{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.contenedor-register2 img{
  width: 30%;
}

.contenedor-register2{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 10px;
  background: #0f608b;
  height: 280px;
  border-radius: 0 20px 20px 0;
}

.contenedor-register1{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 10px;
  background: #0f608b;
  height: 280px;
  border-radius: 20px 0 0 20px;
}

#value-register{
  border-radius: 0 20px 0 0;
}

@media screen and (max-width: 700px){
  .div-wrapper-register{
    grid-template-columns: 1fr;
  }

  .contenedor-register1{
    border-radius: 20px 20px 0 0;
    margin: 0;
    height: auto;
    padding: 0 10px;
  }

  .contenedor-register2{
    border-radius: 0 0 20px 20px;
    margin: 0;
    height: auto;
    padding: 0 10px;
  }

  #form-register{
    height: 100vh;
    width: 100vw;
  }
}

/* Restablecer Contra */

.contenedor-restablecer{
  display: flex;
  flex-direction: column ;
  justify-content: center;
  text-align: center;
  background: #0a4e72;
  padding: 20px;
  width: 400px;
  height: 400px;
  border-radius: 20px;
}


.contenedor-gral-restablecer{
  display: flex;
  justify-content: center ;
  align-items: center;
}

.contenedor-restablecer input{
  padding: 15px;
  border-radius: 20px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #ffffff;
}

#Btn-restablecer{
  background: #0a4361;
  border: none;
  border-radius: 15px;
  margin-top: 15px;
  color: white;
  padding: 10px;
  width: 300px;
  box-shadow: 0px 0px 10px 0 rgba(39, 39, 39, 0.493);
}

.contenedor-restablecer h1{
  font-size: 30px;
  color: white;
  font-family: 'Bree Serif', serif;
}