@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hammersmith+One&display=swap');

.div-wrapper-mod{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.contenedor-mod{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background: #0d5277;
    padding: 30px;
    border-radius: 10%;
    position: relative;
}

.contenedor-mod h1{
    color: white;
    margin-bottom: 15px;
}

.contenedor-mod button{
    border: none;
    background: #0b4463;
    padding: 10px;
    width: 40%;
    border-radius: 20px;
    color: white;
    margin-top: 15px;
    transition: .4s;
}

.contenedor-mod button:hover{
    background: #0e4e70;
}

.contenedor-vertorneo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.contenedor-derechaperfil, .contenedor-izquierdaperfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-vertorneo input{
    background: #0b4463;
    border: none;
    color: rgba(255, 255, 255, 0.63);
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 4px;
}


.icono-usuario{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}

.icono-usuario img{
    width: 225px;
    border: 4px solid white;
    border-radius: 50%;
}


.contenedor-mod-icono{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 110px;
    background: #073750;
    border-radius: 1em;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.548);
    margin-top: 15px;
}

.contenedor-mod-icono button{
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, 0);
    margin: 15px;
    width: 60px;
    height: 60px;
    padding: 0;
    cursor: pointer;
    transition: .4s;
}

.contenedor-mod-icono button:hover {
    transform: scale(1.5);
}

.contenedor-mod-icono img{
    width: 100%;
}

.nick-usuario{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bree Serif', serif;

}

.nick-usuario h1{
    margin: 0;
}

.nick-usuario button{
    border: none;
    background: transparent;
    color: rgb(168, 163, 163);
    cursor: pointer;
    font-size: 17px;
}

.nick-usuario button:hover{
    font-size: 22px;
}
.guardar-edicion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.guardar-edicion button{
    border: none;
    padding: 15px;
    background: #093d58;
    border-radius: 1em;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.548);
    color: white;
    margin-top: 25px;
    font-size: 15px;
    font-family: 'Bree Serif', serif;
    transition: 1s;
    width: 200px;
}

.guardar-edicion button i{
    margin-left: 5px;
}

.guardar-edicion button:hover{
    width: 100%;
    background: #0a4768;
}

.cerrar-mod{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.cerrar-mod i{
    font-size: 25px;
    color: white;
}
#inputNombre{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 1em;
    font-family: 'Bree Serif', serif;
    text-align: center;
    outline: none;
    padding: 10px 0;
}
