
body {
    background: url('../IMG/Chess.png') no-repeat center center fixed;
    background-size: cover;
    
    margin: 0;
  
  }
 h1{
    margin: 0;
  color: white;
  margin-bottom: 15px;
  font-family: 'Bree Serif', serif;
  font-weight: 1000;
  font-size: 500%;
  text-align: center;
  }
 
  .header {
    overflow: hidden;
    background: #06314600;
    padding: 5px 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  footer {
   
        background: #173248;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 20px;
      }
  
.contenedor-inicio {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500px;
  }

