body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#ficha {
    width: 30px;
}

p {
    margin: 0px;
}

table td {
    height: 59px;
    width: 60px;
    padding: 0;
}

#esq {
    height: 59px;
    width: 59px;
}

table {
    border-spacing: 0px;
}

button {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 4px solid transparent;
}

td {
    height: 60px;
    width: 60px;
    text-align: center;
}

#tabla2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#inf {
    border-top: 1px solid black;
}

#sup {
    border-bottom: 1px solid black;
}

#izq {
    border-right: 1px solid black;
}

#der {
    border-left: 1px solid black;
}

.div-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: red   ;
    padding: 20px;
}


.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jugador{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo-tablero1, .circulo-tablero2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circulo-tablero{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: green;
}

.jugador p{
    font-size: 25px;
    margin-top: 15px;
}

.tabla-movimientos{
    width: 100%;
    height: 250px;
}

.tabla-movimientos table{
    width: 100%;
    text-align: center;
    
}