*{
    padding: 0;
    margin: 0;
}



.div-wrapper-contenedortotal{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 75% 1fr;
    background: #07365073;
    height: 100vh;
}

@media screen and (max-width: 1050px) {
    .div-wrapper-contenedortotal{
        grid-template-columns: 1fr;
        height: auto;
    }
    
}

.div-wrapper-contenedorinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #07365073;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0 rgba(31, 31, 31, 0.712);
}

.contenedor-jugadorestiempo{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.contenedor-jugador1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    padding: 20px;
}

.contenedor-jugador1 p{
    padding: 10px;
    font-size: 20px;
    color: rgb(221, 221, 221);
}

.contenedor-jugador2 p{
    padding: 10px;
    font-size: 20px;
    color: rgb(221, 221, 221);
}

.contenedor-jugador2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}

#foto-jugador1{
    height: 60px;
    width: 60px;
}

#foto-jugador2{
    height: 60px;
    width: 60px;
}

.contenedor-tablachat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#tablamov{
    border: 1px solid rgb(221, 221, 221);;
    height: 300px;
    width: 220px;
    overflow: hidden;
    overflow-y: scroll;
}



.contenedor-tablachat a{
    margin-top: 15px;
    padding: 7px;
    width: 60%;
    border-radius: 7px;
    border: none;
    color: rgb(221, 221, 221);
    background: #073750;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .7s;
}

.contenedor-tablachat a:hover{
    background: #0b5177;
}
