@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hammersmith+One&display=swap');

.perfil-wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.349);
    z-index: 999999;
}

.perfil{
    width: 67%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background:#0D5277 ;
    border-radius: 20px;
    position: relative;
}

.contenedor-wrapper{
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.foto-perfil-verperfil{
    max-width: 300px;
    display: flex;
    justify-content: center;
    height: 100%;
    background: #041a25;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 25px;
}


.foto-perfil-verperfil img{
    width: 200px;
    height: 200px;
    padding: 50px;
}

.contenedor-nombres-trofeos-verperfil{
    max-width: 950px;
    width: 100%;
}

.contenedor-nombre-verperfil{
    margin-left: 40px;
}

.contenedor-nombre-verperfil h2{
    font-size: 50px;
    font-family: 'Bree Serif', serif;
}

.contenedor-trofeos-verperfil{
    width: 100%;
    font-family: 'Bree Serif', serif;
    text-align: center;
}

.trofeos-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.trofeo-verperfil{
    width: 240px;
    height: 240px;
    background: #0a4768;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.623);
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.trofeo-icono-verperfil i{
    font-size: 150px;
    color: yellow;
}

.contenedor-logros-verperfil{
    width: 100%;
    height: 100px;
    background: #0a4768;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.623);
}

.contenedor-logros-verperfil{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    border-radius: 0 0 20px 20px;
}

.icono-logro-verperfil{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #0a4768;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono-logro-verperfil i{
    font-size: 50px;
    color: #ffAA00;
}

.cerrar-perfil{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.cerrar-perfil i{
    font-size: 25px;
    color: white;
}