.div-wrapper-contenedortotal{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 75% 1fr;
    background: rgb(47, 92, 230);
}

.div-wrapper-contenedorinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: royalblue;
}

.contenedor-jugadorestiempo{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.contenedor-jugador1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    padding: 20px;
}

.contenedor-jugador2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}

#foto-jugador1{
    width: 120px;
    height: auto;
}

#foto-jugador2{
    width: 120px;
    height: auto;
}

.contenedor-tablachat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#tablamov{
    border: 1px solid black;
    height: 300px;
    width: 250px;
}