@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hammersmith+One&display=swap');

.div-wrapper-mod{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-mod{
  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background: #0d5277;
    padding: 30px;
    border-radius: 10%;
}

.icono-usuario{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}

.icono-usuario img{
    width: 225px;
    border: 4px solid white;
    border-radius: 50%;
}


.contenedor-mod-icono{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 110px;
    background: #073750;
    border-radius: 1em;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.548);
    margin-top: 15px;
}

.contenedor-mod-icono button{
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, 0);
    margin: 15px;
    width: 60px;
    height: 60px;
    padding: 0;
    cursor: pointer;
    transition: .4s;
}

.contenedor-mod-icono button:hover {
    transform: scale(1.5);
}

.contenedor-mod-icono img{
    width: 100%;
}

.nick-usuario{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bree Serif', serif;

}

.nick-usuario h1{
    margin: 0;
}

.nick-usuario button{
    border: none;
    background: transparent;
    color: rgb(168, 163, 163);
    cursor: pointer;
    font-size: 17px;
}

.nick-usuario button:hover{
    font-size: 22px;
}
.guardar-edicion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.guardar-edicion button{
    border: none;
    padding: 15px;
    background: #093d58;
    border-radius: 1em;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.548);
    color: white;
    margin-top: 25px;
    font-size: 15px;
    font-family: 'Bree Serif', serif;
    transition: 1s;
    width: 200px;
}

.guardar-edicion button i{
    margin-left: 5px;
}

.guardar-edicion button:hover{
    width: 100%;
    background: #0a4768;
}