@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hammersmith+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor-fondo{
    width: 100%;
    height: 100vh;
    background: #07365059;
   
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-total{
    background: url(../IMG/close-up-blurry-chess-pieces.jpg);
    background-size: cover;
    margin: 0;
}

.contenedor-tabla{
    background: #073650bd;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.712);
}


.tabla{
    width: 80%;
    text-align: center;
    height: 400px;
    overflow: auto;
}

.contenedor-tabla h1{
    color: white;
    font-size: 40px;
    
    padding: 20px;
}

.contenedor-torneo{
    display: flex;
    background: #094464b9;
    padding: 15px;
    border-radius: 20px;
    justify-content: space-between;
    width: calc(100% - 10px);
    margin: 10px 0; 
}

.contenedor-torneo button{
    background: #0c5780;
    border: none;
    border-radius: 20px;
    padding: 4px;
    width:60px;
    color: rgba(255, 255, 255, 0.568);
    cursor: pointer;
    transition: .7s;
}

.contenedor-torneo button:hover{
    background: #0d6391;
}


.contenedor-torneo p{
    color: white;
}

.boton-volver{
    background: #1067969f;
    border: none;
    padding: 8px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.589);
    text-align: center;
    text-decoration: none;
    transition: .7s;
    cursor: pointer;
}

.boton-volver:hover{
    width: 70%;
}


::-webkit-scrollbar {
    width: 14px;
   
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(51, 51, 51, 0.7);
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(146, 144, 144);
    border-radius: 10px;
   
  }

.input-buscar{
    padding: 8px;
    border-radius: 20px;
    width: 100%;
    background: rgba(0, 0, 0, 0.199);
    outline: none;
    border: none;
}

.contenedor-buscador{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contenedor-buscador i{
    color: rgba(255, 255, 255, 0.568);
    position: absolute;
    right: 10px;
}

