*{
    margin: 0;
    padding: 0;
}

.contenedor-total{
    grid-template-columns: 70% 1fr;
    display: grid;
    width: 100%;
    height: 100VH;
    overflow: hidden;
}

.contenedor-infotorneo{
    display: flex;
    flex-direction: column ;
    background: red;
    height: 100%;
}

.contenedor-datostorneo{
    display: flex;
    background: blueviolet;
    height: 100%;
}

.contenedor-nomtrof{
    display: flex;
}

.contenedor-jugadorestorneo{
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column ;
    background: green;
    overflow-y: scroll;
    box-sizing: border-box;
}

.contenedor-jugador{
    display: flex;
    
    text-align: center;
    align-items: center;
    background: yellow;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 20px;
}

.contenedor-jugador img{
    width: 15%;
}

.contenedor-jugador p{
    padding-left: 5px ;
}

.contenedor-titulo{
    text-align: center ;
}