*{
    margin: 0;
    padding: 0;
}

.contenedor-total{
    grid-template-columns: 80% 1fr;
    display: grid;
    width: 100%;
    height: 100VH;
    overflow: hidden;
}

.contenedor-infotorneo{
display: flex;
justify-content: center;
align-items: center;
    background: url('../IMG/Chess.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color: white;
}

.contenedor-izquierda{
    background: #0c547a;
    max-width: 350px;
    width: 100%;
    padding: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.548);
}

.contenedornomico{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.datostorneo{
    text-align: center;
    width: 91%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 27px 0;
}

.continfo{
   display: flex;
   justify-content:space-between ;
   align-items: center;
   max-width: 270px;
   width: 100%;
}

.contenedornomico img{
    max-width: 100px;
    width: 100%;
    margin-right: 15px;
}



.botones{
    margin-top: 30px;
}

.botones button{
    background: #0c4a6b;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 105px;
}

.contenedor-nomtrof{
    display: flex;
    text-align: center ;
    align-items: center;
    padding-left: 60px;
    padding-top: 60px;

    
}

.contenedor-nomtrof img{
    width: 10%;
}

.contenedor-nomtrof h1{
    padding-left: 10px;
    color: white;
}

.contenedor-jugadorestorneo{
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column ;
    background: #0a4e72;
    overflow-y: scroll;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.548);
}

.contenedor-jugador{
    display: flex;
    
    text-align: center;
    align-items: center;
    background: #073750;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 20px;
}

.contenedor-jugador img{
    width: 15%;
}

.contenedor-jugador p{
    padding-left: 5px ;
    color: white;
}

.contenedor-titulo{
    text-align: center ;
    margin-bottom: 15px;
}

.contenedor-titulo h1{
    color: white;
}

.contenedor-titulo p{
    color: white;
    padding-top: 7px;
    ;
}

.contenedor-datos{
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1600px){
    .contenedor-nomtrof img{
        width: 15%;
    }
}

@media screen and (max-width: 1090px) {
    .contenedor-total{
        grid-template-columns: 1fr;
        height: 100%;
    }

    .contenedor-datostorneo{
        grid-template-columns: 1fr;
    }

    .contenedor-infotorneo{
    
    }
    .contenedor-jugadorestorneo{
        align-items: center;
        
        
    }
    .contenedor-jugador{
        width: 80%;
    }
    .contenedor-jugador img{
        width: 7%;
    }

 

    .contenedor-nomtrof h1{
        font-size: 40px;
    }

    .contenedor-nomtrof img{
        width: 15%;
    }

    .contenedor-nomtrof{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 20px;
    }

}

@media screen and (max-width: 600px) {
    .contenedor-nomtrof img{
        width: 20%;
    }
 
}