body {
	padding: 20px;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	background: #1b1a17;
}
td {
    width: 80px; height: 80px;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {	background: #fdfaf6;
}