html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif, 'Open Sans', sans-serif;;
    background-image: url("../imagenes/background.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .register-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.616);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .register-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .register-box .user-box {
    position: relative;
  }
  
  .register-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .register-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .register-box .user-box input:focus ~ label,
  .register-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #FF7B38;
    font-size: 12px;
  }
  
  .register-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border-radius: 5px;
    background: #352b24de;
  }
  
  .register-box a:hover {
    background: #976142;
    color: #fff;
    border-radius: 25px;
  }
  
  .register-box a span {
    position: absolute;
    display: block;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
.register-box select{
  color:white;
  background-color:rgb(0, 0, 0);
  border-color:transparent;
  padding:10px;
  font-size: 16px;
}
.register-box:after select{
  position: absolute;
  font-family: sans-serif, 'Open Sans', sans-serif;;;
}

